mixin server(server)
  if !server.banned
    .col-12.col-lg-6
      .card.s
        if server.icon != null
            img.rounded-circle.img-fluid(src=server.icon, alt, width="60px", height="60px")
        else
            p.rounded-circle.img-fluid.text-center(style="font-size: 30px; width: " + (server.nameAcronym.length*30 > 60 ? server.nameAcronym.length*30 : 60) + "px; height: 60px; padding: 5px; border: 2px solid #ffffff; margin-bottom: 0px;") !{server.nameAcronym}
        h1.profile-h-h !{server.name}
        br
        .col-12
          .row
            a.btn.btn-secondary(type="button", style="margin-right: 10px;", href="/admin-manage/" + server.id)
              i.far.fa-edit
              span.pl-1 Manage
            a.btn.btn-success(type="button", href="/s/" + server.uniqueId)
              i.far.fa-eye
              span.pl-1 Page